{
  
    "extends": "@istanbuljs/nyc-config-typescript",
    "check-coverage": true,
    "per-file": true,
    "include": [
      "lib/**/*.js"
    ],
    "exclude": [
      "test",
      "**/*.d.ts",
      "**/coverage/**"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "all": true
}
